.contact-address {
  min-height: 100vh;
  background: url('../assets/img/address.svg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 330px;
    background-color: #bb7043;
    padding: 2.5rem;
    h2 {
      color: #ffffff;
      text-align: center;
    }
  }
}

.contact-form {
  background-color: #bb7043;
  padding: 20vh 10vw;
  h3 {
    width: 60%;
    font-size: 2rem;
    color: #ffffff;
  }
  div {
    width: 50%;
  }
  display: flex;
  form {
    input,
    textarea {
      display: block;
      width: 75%;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
}
