.contact-story {
  //   padding: 10vh 3vw 10vh 5vw;
  display: flex;
  min-height: 100vh;
  background-color: #bb7043;
  div:nth-of-type(1) {
    width: 50%;
    padding: 3rem 7vw 0 10vw;

    h2 {
      font-size: 3.5rem;
      margin-top: 0;
      padding-right: 3rem;
      color: #e5e5e5;
    }
    p {
      font-size: 1.3rem;
      color: black;
      padding: 0.5rem;
    }
  }
}

.contact-story-img-holder {
  width: 50%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
