.contact-story {
  display: flex;
  background-color: #bb7043;
  div:nth-of-type(1) {
    width: 50%;
    padding: 6.5rem 7vw 0 10vw;

    h2 {
      font-size: 4rem;
      margin-top: 0;
      padding-right: 3rem;
      color: #e5e5e5;
      width: 60%;
    }
    p {
      font-size: 1.3rem;
      color: black;
      padding: 0.5rem;
    }
    p:nth-of-type(2) {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  div:nth-of-type(2) {
    height: 100%;
  }
}

.contact-story-img-holder {
  width: 50%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
