.events {
  padding: 15vh 3vw;
  background-color: #bb7043;
  .event-text {
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 10vh;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .events {
    div {
      flex-direction: column;
    }
  }
}
